<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SERVERURL" value="http://smartdrawers.net/" />
    <add key="FILEPATH" value="C:\Scannex" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TwainDotNet" publicKeyToken="d3cd6e1539fa8c71" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.2" newVersion="1.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
