<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SERVERURL" value="http://smartdrawers.net/"/>
    <add key="FILEPATH" value="C:\Scannex" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
